language: python
python:
  - 3.6.3
install:
  - pip install python-coveralls
  - pip install coverage
  - pip install ecdsa
script:
  - ls
  - python -m coverage run -m unittest discover 
after_success:  
  - coveralls -b .
